<<<<<<< HEAD
# If enabled, any SVG icon provided by the openHAB icon server will automatically be converted to an
# inline SVG in the WEB page, allowing control of its color with the sitemap widget property "iconcolor"
# in the case where the SVG icon sets "currentColor" as the fill color. Note that this will work with
# custom SVG icons but not with all the packaged icons from the classic iconset since they are defined
# with a hard-coded color palette.
# This feature is disabled by default due to additional non-standard processing required leading to a
# larger page size and because it is unnecessary if you only use Material/framework7/iconify icons or
# openHAB icons from the classic icon set.
#inlineSvg=false
=======
# Defines the UI theme.
#
#theme=default

# Defines whether UI renders icons for the widgets or not.
#
#enableIcons=true

# When enabled, changes the layout so that more widgets can fit on the screen.
#
#condensedLayout=false

# Displays all widget states in uppercase.
#
#capitalizeValues=false

# Play audio sent to the web audio sink.
#
#webAudio=false
>>>>>>> 41fbcb2dc5539d9c9933a2433377aba8de4480c6

# The sitemap to show if no parameter is passed.
#
#defaultSitemap=
